/******************************************************
MAIN ELEMENTS
******************************************************/

body {
    background: blue;
}

div{
    font-family: Helvetica, "Hoefler Text", Garamond, "Times New Roman", serif; 
}

section{
    height: 40%;
}

/******************************************************
FIRST SECTION
******************************************************/

.ttp-logo{
        width: 350px;
        height: 120px;
        display: none;
		position:relative
}

#redbox, .CSS3Box, .CSS3TransformBox{
	width:85px;
	height:85px;
	background-color:green;
	position:relative
}

li.thingdescription{
display: none
}

.items{
float: left;
width: 250px;
}

.together{
    padding: 12px 0px 10px 0px;
    clear: left=
}

/******************************************************
ANIMATIONS
******************************************************/

@keyframes CSS3Animation {
    0% {background-color: red; top:0px ;}
    50% {background-color: blue; top:400px ;border-radius: 100%;}
    100% {background-color: red; top:0px;}
}

.CSS3Box {
    top : 0px;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    display: none;
}

#CSS3AnimationControl {
    display: block;
}

/******************************************************
VIDEO
******************************************************/

.video {
    height: 500px;
    width: 750px;
    display:none;
}

/******************************************************
AUDIO
******************************************************/

.audio {
    display: none;
}

/******************************************************
CSS TRANSFORMS
******************************************************/

.CSS3TransformBox {
    top: 0px;
    display: none;
}

#CSS3Transform1 {
    transition: transform, 3s;
}

#CSS3Transform2 {
    transition: transform, 3s;
}

#CSS3Transform3 {
    transition: transform, 3s;
}

#CSS3Transform4 {
    transition: transform, 3s;
}

#CSS3Transform1:hover {
    transform: rotateX(180deg);
}

#CSS3Transform2:hover {
    transform: rotateY(180deg);
}

#CSS3Transform3:hover {
    transform: scale3d(3,3,3);
}

#CSS3Transform4:hover {
    transform: translate3d(100px,-100px,100px);
}

/******************************************************
CLASS TO DISPLAY ITEM INLINE
******************************************************/

.displayInline{
    display:inline-block;
}





